.projborder{

margin: 30px 30px 30px 30px;
border: 1px;
border-color: #ccc;
border-style: dashed;
border-radius: 4px 4px 4px 4px;
box-shadow: none;
  
}
.colorblue{
color:#428bca;

}
.subaboutleft{
	padding-top:5%;
	height:400px;
	border-right:dashed 1px #ccc;
}
.subaboutright{
	padding-top:5%;
	height:300px;
	
}
